<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Internationalization</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/internationalization.js"></script>
</head>
<body>
<h1 th:text="#{greeting}"></h1>


<span th:text="#{lang.change}"></span>:
<label for="locales"></label>
<select id="locales">
    <option value=""></option>
    <option value="ua" th:text="#{lang.ua}"></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="es" th:text="#{lang.es}"></option>
</select>
</body>
</html>